<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xuro.be.projetandroidwattin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CreateAccActivity" />
        <activity android:name=".Activity.UserHome" />
        <activity android:name=".Activity.AdminHome" />
        <activity android:name=".Activity.EditUsers" />
        <activity android:name=".Activity.EditSUpwd" />
        <activity android:name=".Activity.PillsActivity" />
        <activity android:name=".Activity.EditParamsActivity" />
        <activity android:name=".Activity.LiquidActivity" />
        <activity android:name=".Activity.WebActivity"></activity>
    </application>

</manifest>